 body {
  width: 100%;
  font-family: 'Righteous', cursive;

 
} 

.svg-box {
    /* display: flex;   */
    width: 100%;
   
    border: 2px solid red;
  
}

svg {
    border: 2px solid blue;
    /* position: absolute; */
    /* justify-content: center; */
    display: flex;
    position: relative;

}

#Buttons {
    cursor: pointer;
}

/* #output {
    text-align: right;
} */

input {
    font-family: 'Righteous', cursive;
    font-size: 4em;
    border: 0;
    background-color: #D6E0E2;
    flex: 1;
    max-width: 295px;
    /* height: 10%;
    min-height: 90px; */
    text-align: right;
    position: absolute; 
    top: 14%;
    left: 3.5%; 

}

@media (min-width: 321px) and (max-width: 480) {
    input {
        max-width: 165px;
        top: 90px;
        left: 5px;
    }
}
@media (min-width: 50px) and (max-width: 320) {
    input {
        max-width: 70px;
        top: 80px;
        left: 10px;
    }
}

@supports (-moz-appearance:none) and (display:contents) {
    input {         
        top: 15%;
        left: 4%;
    } 

} 