 body {
  font-family: 'Righteous', cursive;
} 

.svg-box {
    width: 100%;  
}

svg {
    display: flex;
    position: relative;
}

#Buttons {
    cursor: pointer;
}

input {
    font-family: 'Righteous', cursive;
    font-size: 4em;
    border: 0;
    background-color: #D6E0E2;
    max-width: 295px;
    text-align: right;
    position: absolute;  
    top: 105px;
    left: 24px;
}

 @media all and (min-width:750px) and (max-width: 1280px) {
    input {
    font-family: 'Righteous', cursive;
    font-size: 4em;
    border: 0;
    background-color: #D6E0E2;
    max-width: 295px;
    text-align: right;
    position: absolute;  
    top: 100px;
    left: 24px;
}
} 
